/* Stile per l'intero documento */
body {
  padding: 1%;
  color: #fff;
  background-image: url("./images/f1_wallpaper_1.jpg");
  background-size: cover; /* Copre l'intera area visibile */
  background-repeat: no-repeat; /* Evita la ripetizione dell'immagine */
}

/* Stile per il titolo della pagina */
h1 {
  text-align: center;
}